.slider {
    width: 1000px;
    padding: 200px 0 0 0;
    transform-style: preserve-3d;
    -webkit-transform: ;
    -moz-transform: ;
    -ms-transform: ;
    -o-transform: ;
}

.slider ul {
    position: relative;
    width: 400px;
    height: 210px;
    margin: 0 auto;
    transform: rotateX(-10deg);
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-10deg);
    -moz-transform: rotateX(-10deg);
    -ms-transform: rotateX(-10deg);
    -o-transform: rotateX(-10deg);
}


/*@keyframes sport {
    0% {
        transform: rotateX(-5deg) rotateY(0deg);
        -webkit-transform: rotateX(-5deg) rotateY(0deg);
        -moz-transform: rotateX(-5deg) rotateY(0deg);
        -ms-transform: rotateX(-5deg) rotateY(0deg);
        -o-transform: rotateX(-5deg) rotateY(0deg);
    }
    50% {
        transform: rotateX(5deg) rotateY(180deg);
        -webkit-transform: rotateX(5deg) rotateY(180deg);
        -moz-transform: rotateX(5deg) rotateY(180deg);
        -ms-transform: rotateX(5deg) rotateY(180deg);
        -o-transform: rotateX(5deg) rotateY(180deg);
    }
    100% {
        transform: rotateX(-5deg) rotateY(360deg);
        -webkit-transform: rotateX(-5deg) rotateY(360deg);
        -moz-transform: rotateX(-5deg) rotateY(360deg);
        -ms-transform: rotateX(-5deg) rotateY(360deg);
        -o-transform: rotateX(-5deg) rotateY(360deg);
    }
}*/

.slider li {
    list-style: none;
    position: absolute;
    width: 200px;
    height: 110px;
    box-shadow: 0 0 20px #fff;
}

.slider li:nth-child(1) {
    background: url(../img/lb1.jpg) no-repeat center;
    background-size: cover;
    transform: translateZ(400px);
    -webkit-transform: translateZ(400px);
    -moz-transform: translateZ(400px);
    -ms-transform: translateZ(400px);
    -o-transform: translateZ(400px);
}

.slider li:nth-child(2) {
    background: url(../img/lb2.jpg) no-repeat center;
    background-size: cover;
    transform: rotateY(40deg) translateZ(400px);
    -webkit-transform: rotateY(40deg) translateZ(400px);
    -moz-transform: rotateY(40deg) translateZ(400px);
    -ms-transform: rotateY(40deg) translateZ(400px);
    -o-transform: rotateY(40deg) translateZ(400px);
}

.slider li:nth-child(3) {
    background: url(../img/lb3.jpg) no-repeat center;
    background-size: cover;
    transform: rotateY(80deg) translateZ(400px);
    -webkit-transform: rotateY(80deg) translateZ(400px);
    -moz-transform: rotateY(80deg) translateZ(400px);
    -ms-transform: rotateY(80deg) translateZ(400px);
    -o-transform: rotateY(80deg) translateZ(400px);
}

.slider li:nth-child(4) {
    background: url(../img/lb4.jpg) no-repeat center;
    background-size: cover;
    transform: rotateY(1200deg) translateZ(400px);
    -webkit-transform: rotateY(1200deg) translateZ(400px);
    -moz-transform: rotateY(1200deg) translateZ(400px);
    -ms-transform: rotateY(1200deg) translateZ(400px);
    -o-transform: rotateY(1200deg) translateZ(400px);
}

.slider li:nth-child(5) {
    background: url(../img/lb5.jpg) no-repeat center;
    background-size: cover;
    transform: rotateY(160deg) translateZ(400px);
    -webkit-transform: rotateY(160deg) translateZ(400px);
    -moz-transform: rotateY(160deg) translateZ(400px);
    -ms-transform: rotateY(160deg) translateZ(400px);
    -o-transform: rotateY(160deg) translateZ(400px);
}

.slider li:nth-child(6) {
    background: url(../img/lb6.jpg) no-repeat center;
    background-size: cover;
    transform: rotateY(200deg) translateZ(400px);
    -webkit-transform: rotateY(200deg) translateZ(400px);
    -moz-transform: rotateY(200deg) translateZ(400px);
    -ms-transform: rotateY(200deg) translateZ(400px);
    -o-transform: rotateY(200deg) translateZ(400px);
}

.slider li:nth-child(7) {
    background: url(../img/lb7.jpg) no-repeat center;
    background-size: cover;
    transform: rotateY(240deg) translateZ(400px);
    -webkit-transform: rotateY(240deg) translateZ(400px);
    -moz-transform: rotateY(240deg) translateZ(400px);
    -ms-transform: rotateY(240deg) translateZ(400px);
    -o-transform: rotateY(240deg) translateZ(400px);
}

.slider li:nth-child(8) {
    background: url(../img/lb8.jpg) no-repeat center;
    background-size: cover;
    transform: rotateY(280deg) translateZ(400px);
    -webkit-transform: rotateY(280deg) translateZ(400px);
    -moz-transform: rotateY(280deg) translateZ(400px);
    -ms-transform: rotateY(280deg) translateZ(400px);
    -o-transform: rotateY(280deg) translateZ(400px);
}

.slider li:nth-child(9) {
    background: url(../img/lb9.jpg) no-repeat center;
    background-size: cover;
    transform: rotateY(320deg) translateZ(400px);
    -webkit-transform: rotateY(320deg) translateZ(400px);
    -moz-transform: rotateY(320deg) translateZ(400px);
    -ms-transform: rotateY(320deg) translateZ(400px);
    -o-transform: rotateY(320deg) translateZ(400px);
}